<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="md-title-icon" href="" target="_blank"><i></i></a>
      <span class="mdl-layout-title">Fishing Logger</span>
      <div>
      <button id="reset-button" class="mdl-button mdl-js-button 
        mdl-js-ripple-effect mdl-button--accent mdl-button--raised" 
        (click)="showLogin()">Login</button>
      </div>
    </div>
  </header>
</div>
<div class="android-be-together-section mdl-typography--text-center">
    Lorem Ipsum е елементарен примерен текст, използван в печатарската и 
    типографската индустрия. Lorem Ipsum е индустриален стандарт от около 
    1500 година, когато неизвестен печатар взема няколко печатарски букви 
    и ги разбърква, за да напечата с тях книга с примерни шрифтове. 
    Този начин не само е оцелял повече от 5 века, но е навлязъл и в 
    публикуването на електронни издания като е запазен почти без промяна. 
    Популяризиран е през 60те години на 20ти век със издаването на 
    Letraset листи, съдържащи Lorem Ipsum пасажи, популярен е и в наши дни 
    във софтуер за печатни издания като Aldus PageMaker, който включва 
    различни версии на Lorem Ipsum.
</div>
