<!--<div layout="column" class="md-inline-form inputdemoBasicUsage">
    <h1>Login</h1>
    <form role="form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-group">
            <input type="text" #email class="mdl-textfield__input" [(ngModel)]="userEmail" id="email" placeholder="Email">
            <label for="email" class="mdl-textfield__label">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-group">
            <input type="password" #password class="mdl-textfield__input" [(ngModel)]="userPass" id="password" placeholder="Password">
            <label for="password" class="mdl-textfield__label">Password</label>
        </div>
        <button type="button" class="btn btn-default" (click)="login($event)">Login</button>
        <button type="button" class="btn btn-default" (click)="logout($event)">Log out</button>
    </form>
</div>-->

<div mdl class="mdl-dialog">
    <h4 class="mdl-dialog__title">Login to an account</h4>
    <form [ngFormModel]="loginForm" (ngSubmit)="login(loginForm.value)" >
        <div class="mdl-dialog__content">
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                [class.has-error]="!email.valid && submitAttempt">
                <input class="mdl-textfield__input" id="email" [ngFormControl]="email" type="text" required>
                <label class="mdl-textfield__label" for="email" id="emailLabel">Email Address...</label>
                <div class="label-has-error" *ngIf="email.hasError('required') && submitAttempt">Email is required</div>
                <div class="label-has-error" *ngIf="email.hasError('invalidFormat')">Email requires '.' and '@' characters</div>
                <div class="label-has-error" *ngIf="email.hasError('invalidDomain')">Please enter correct domain</div>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
            [class.has-error]="!password.valid && submitAttempt">
                <input class="mdl-textfield__input" type="password" id="password" [ngFormControl]="password">
                <label class="mdl-textfield__label" for="password" id="passwordLabel">Password...</label>
                <em class="label-has-error" *ngIf="password.hasError('required') && submitAttempt">Password is required</em>
                <em class="label-has-error" *ngIf="password.hasError('minlength')">Password must be at least 6 characters</em>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit">Sign Up</button>
            <button type="button" class="mdl-button close">Login</button>
        </div>
    </form>
</div>