<!--<div mdl class="mdl-dialog">
    <h4 class="mdl-dialog__title">Sign-up for an account</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email" [(ngModel)]="userEmail">
            <label class="mdl-textfield__label" for="email" id="emailLabel">Email...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" [(ngModel)]="userPassword">
            <label class="mdl-textfield__label" for="password" id="passwordLabel">Password...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="confirmPassword" id="confirmPassword" [(ngModel)]="userConfirmPassword">
            <label class="mdl-textfield__label" for="confirmPassword" id="confirmPasswordLabel">Confirm Password...</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="signup($event)">Sign Up</button>
        <button type="button" class="mdl-button close">Login</button>
    </div>
</div>-->

<div mdl class="mdl-dialog">
    <h4 class="mdl-dialog__title">Sign-up for an account</h4>
    <form [ngFormModel]="signupForm" (ngSubmit)="signup(signupForm.value)" >
        <div class="mdl-dialog__content">
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                [class.has-error]="!email.valid && submitAttempt">
                <input class="mdl-textfield__input" id="email" [ngFormControl]="email" type="text" required>
                <label class="mdl-textfield__label" for="email" id="emailLabel">Email Address...</label>
                <div class="label-has-error" *ngIf="email.hasError('required') && submitAttempt">Email is required</div>
                <div class="label-has-error" *ngIf="email.hasError('invalidFormat')">Email requires '.' and '@' characters</div>
                <div class="label-has-error" *ngIf="email.hasError('invalidDomain')">Please enter correct domain</div>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
            [class.has-error]="!password.valid && submitAttempt">
                <input class="mdl-textfield__input" type="password" id="password" [ngFormControl]="password">
                <label class="mdl-textfield__label" for="password" id="passwordLabel">Password...</label>
                <em class="label-has-error" *ngIf="password.hasError('required') && submitAttempt">Password is required</em>
                <em class="label-has-error" *ngIf="password.hasError('minlength')">Password must be at least 6 characters</em>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
            [class.has-error]="!confirmPassword.valid && submitAttempt">
                <input class="mdl-textfield__input" type="password" id="confirmPassword" [ngFormControl]="confirmPassword">
                <label class="mdl-textfield__label" for="confirmPassword" id="confirmPasswordLabel">Confirm Password...</label>
                <em class="label-has-error" *ngIf="confirmPassword.hasError('required') && submitAttempt">Confirm Password is required</em>
                <em class="label-has-error" *ngIf="password != confirmPassword && submitAttempt">Passwords don't match</em>
            </div>
            <div *ngIf="!signupForm.valid && submitAttempt">
                <label class="mdl-textfield__label" for="" id="signupFormLabel">Email already in use</label>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit">Sign Up</button>
            <button type="button" class="mdl-button close">Login</button>
        </div>
    </form>
</div>