<article class="template animated slideInRight">
  <h4>Top Fishing Logs</h4>
  <div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"
        *ngFor="let fishinglog of fishinglogs | async"
        (click)="gotoDetail(fishinglog)">

        <button class="dashboard-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
      mdl-button--accent">
          {{fishinglog.place_name}}
        </button>

      </div>
    </div>
    <div >You don't have logs yet. Click the Add button to add logs.</div>
  </div>
</article>